
* {
  margin: 0;
  padding: 0;
}

body,html {
  margin: 2px;
  font-weight: lighter;
  text-align: justify;
  font-size: 16px;
  background-color: #1C1C1E;
  color: 	#FFFEFF;
  height: 100%;
  font-family: 'Gill Sans';
}

h1{
  font-family: 'Poiret One', cursive;
}


/* 
 * PROJECT PAGE HEADER 
 */

header{
  /* position: relative; */
  color: #1C1C1E;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow: auto; */
}

/* Project title */
header>h1{
  flex: 4;
  text-transform: uppercase;
  font-size: 2em;
  margin-left: 1vw;
  padding-top: 2.5vh;
  text-align: left;
  color: #FFFEFF
}

/* User icons/images */
div.user-img-header{
  margin-right: 1px;
}

img.user-img-header{
  padding: 1px;
  width: 5vw;
  height: auto;
}


/* 
 * PROJECT PAGE MAIN 
 */

main{
  min-height: 85vh;
  padding-bottom: 5vh;
  display: flex; /* [1] */
  flex-wrap: nowrap; /* [1] */
  overflow-x: auto; /* [1] */
}

/* Main columns */
/* Column div */
div.droptarget {
  max-width: 25vw;
  border: 1px solid grey;
  flex: 0 0 auto;
  width: 40%;
  padding-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  /* overflow: scroll; */
}
/* Column title / state name */
h1.state-head{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  margin-top: 2px;
  color: #FFFEFF
}


/*
 * TASK / SICKER 
 */

div.sticker {
  /* text centering and text to dix  */
  min-height: 15vh;
  margin: 10px auto 10px auto;
  width: 80%;
  height: auto;
  /* border: 1px solid #FFFEFF; */
}

/* Sticker background colors */
#e1 {
  background-color: coral;
}
#e2 {
  background-color: deeppink;
}
#e3 {
  background-color: lightseagreen;
}
#e4{
  background-color: forestgreen;
}

h1.sticker{
  padding-left: 2px;
  font-size: 1.25em;
}

div.stick-desc{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.stick-desc label{
  margin-left: 3px;
  font-weight: bold;
}

div.stick-desc p{
  padding-left: 2px;
  padding-right: 2px; 
}

img.sticker{
  width: 4vw;
  height: auto;
}

/*
 * FOOTER 
 */

footer{
  height: 5vh;
  margin-top: -5vh;
  padding-top: 8px;
}

.footer-credits{
  font-size: 0.75em;
  text-align: center;
}

div.footer-legenda{
  /* TODO */
}

img.footer-legenda{
  /* TODO */
}


/*
 * USER POPUP  <-- need to be modified 
 */

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 20vw;
  background-color:lightgray;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  top: 5px;
  margin-left: -20vw;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

div.usr-desc{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.usr-desc label{
  margin-left: 3px;
  font-weight: bold;
}

div.usr-desc p{
  padding-left: 3px;
}




  /**********************/
 /* Registration popup */
/**********************/

/* Container */
.pp-register{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top:0;
  display: flex;
  /* center horizontally */
  justify-content: center;
  /* center vertically */
  align-items: center;
  /* will hide this container and all his children */
  display: none;
}

/* Content */
.pp-content{
  width: 500px;
  height: 350px;
  background-color: floralwhite;
  text-align: center;
  position: relative;
  /* need to change font */
}

/* Form */
.register-form{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* form title */
.register-form h2{
  /* need to change font */
  color: black;
}

/* form text input box */
.register-form input{
  padding: 5px;
  margin-top: 2%;
}

/* form laberl / show psw */
.form-line label{
  color: black;
  align-self: flex-end;
  padding: 5px;
  margin-top: 5%;
}

/* form submit button */
.button{
  width: 20%;
  height: 10%;
  border-radius: 15px;
  margin-top: 5%;
  background-color: floralwhite;
  color: black;
  border: 2px solid black;
  font-family: 'Gill Sans';
}

.button:hover{
  background-color: orange;
}


/* form closing popup icon */
.pp-closing-icon{
  width: 15px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
 


