
* {
  margin: 0;
  padding: 0;
}

body,html {
  margin: 2px;
  font-weight: lighter;
  text-align: justify;
  font-size: 16px;
  background-color: #1C1C1E;
  color: 	#FFFEFF;
  height: 100%;
  font-family: 'Gill Sans';
}

h1, h2{
  font-family: 'Poiret One', cursive;
}

/* Hidden columns */
div.hidden-div{
  min-width: 1px;
  width: 1px;
}

/* 
 * PROJECT PAGE HEADER 
 */

header{
  /* position: relative; */
  color: #1C1C1E;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow: auto; */
}

/* Project title */
header>h1{
  flex: 4;
  text-transform: uppercase;
  font-size: 2em;
  margin-left: 1vw;
  padding-top: 2.5vh;
  text-align: left;
  color: #FFFEFF
}

/* User icons/images */
div.user-img-header{
  margin-right: 1px;
}

img.user-img-header{
  padding: 1px;
  width: 5vw;
  height: auto;
}


/* 
 * PROJECT PAGE MAIN 
 */

main{
  min-height: 85vh;
  padding-bottom: 5vh;
  display: flex; /* [1] */
  flex-wrap: nowrap; /* [1] */
  overflow-x: auto; /* [1] */
}

/* Main columns */
/* Column div */
div.droptarget {
  max-width: 25vw;
  border: 1px solid grey;
  flex: 0 0 auto;
  width: 40%;
  padding-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  /* overflow: scroll; */
}
/* Column title / state name */
h1.state-head{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  margin-top: 2px;
  color: #FFFEFF
}


/*
 * TASK / SICKER 
 */

div.sticker {
  /* text centering and text to dix  */
  min-height: 15vh;
  margin: 10px auto 10px auto;
  width: 80%;
  height: auto;
  /* border: 1px solid #FFFEFF; */
}

h1.sticker{
  padding-left: 2px;
  font-size: 1.25em;
}

div.stick-desc{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.stick-desc label{
  margin-left: 3px;
  font-weight: bold;
}

div.stick-desc p{
  padding-left: 2px;
  padding-right: 2px; 
}

img.sticker{
  width: 4vw;
  height: auto;
}

/*
 * FOOTER 
 */

footer{
  height: 5vh;
  margin-top: -5vh;
  padding-top: 8px;
}

.footer-credits{
  font-size: 0.75em;
  text-align: center;
}

div.footer-legenda{
  /* TODO */
}

img.footer-legenda{
  /* TODO */
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 20vw;
  background-color:lightgray;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  top: 5px;
  margin-left: -20vw;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

div.usr-desc{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.usr-desc label{
  margin-left: 3px;
  font-weight: bold;
}

div.usr-desc p{
  padding-left: 3px;
}


/*****************************/
/*** Welcome / Login page ***/
/***************************/

header.login h1{
  font-size: 2.5em;
  margin: 0;
  width: 100%;
  text-align: center;
  color: lightsalmon;
}
header.login h2{
  margin: 0;
  padding: 5px;
  font-size: 1.25em;
  width: 100%;
  text-align: center;
  color: #FFFEFF;
}

div.login{
  position: absolute;
  left: 10%;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

div.login *{
  margin-top: 10px;
}

form.login{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

form.login input{
  padding: 10px;
  margin-top: 10px;
}

form.login label{
  color: #FFFEFF;
}


  /**********************/
 /* Registration popup */
/**********************/

/* Container */
.pp-register{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top:0;
  display: flex;
  /* center horizontally */
  justify-content: center;
  /* center vertically */
  align-items: center;
  /* will hide this container and all his children */
  display: none;
}

/* Content */
.pp-content{
  width: 600px;
  height: 450px;
  background-color: floralwhite;
  text-align: center;
  position: relative;
  /* need to change font */
}

/* Form */
.register-form{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* form title */
.register-form h2{
  /* need to change font */
  color: black;
}

/* form text input box */
.register-form input{
  padding: 5px;
  margin-top: 2%;
}

/* form laberl / show psw */
.form-line label{
  color: black;
  align-self: flex-end;
  padding: 5px;
  margin-top: 5%;
}

div.signup{
  display: flex;
  flex-direction: row;
  padding: 5px;
}

div.signup #signup-btn{
  color: lightsalmon;
  margin-left: 5px;
  cursor: pointer;

}


/* form submit button */
.button{
  font-size: 0.75em;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
  text-align: center;
  background-color: floralwhite;
  color: black;
  border: 2px solid black;
  font-family: 'Gill Sans';
}

.button:hover{
  background-color: lightsalmon;
  cursor: pointer;
}

#login-btn{
  background-color: floralwhite;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
#login-btn:hover{
  background-color: lightsalmon;
  cursor: pointer;
}

/* form closing popup icon */
.pp-closing-icon{
  width: 15px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
 
  /**********************/
 /***** User Page ******/
/**********************/

.pp-mod-line{
  /* background-color: #1C1C1E; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* pp display */
#usr-update-pp{
  display: inherit;
  flex-direction: inherit;
}

h1.mod-usr{
  color: black;
}
.mod_avatar{
  width: 50px;
  height: 50px;
}

.usr-info-line{
  display: flex;
  flex-direction: row;
}

.usr-info-line label{
  color: lightsalmon;
  /* font-weight: bold; */
  padding: 5px;
}

.usr-info-line p{
  padding: 5px;
}

.usr-info{
  position: absolute;
  top:5px;
  right: 15px;
}

.my_avatar{
  width: 70px;
  height: 70px;
}

#display-board{
  margin-left: 10px;
  padding: 2px;
}

#display-board input{
  margin-top: 10px;
}

/* USER AVATAR USER PAGE */

.usr-image{
  width: 7vw;
  height: 7vh;
  margin: 5px;
  background-color: lightsalmon;
  display: flex;
  display: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 2em;
  font-weight: bold;
  color: #1C1C1E;
  border: 2px solid black;
  border-radius: 100%;
}
.usr-image-2{
  width: 7vw;
  height: 7vh;
  margin: 5px;
  background-color: lightsalmon;
  display: flex;
  display: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 2em;
  font-weight: bold;
  color: #1C1C1E;
  border: 2px solid black;
  border-radius: 100%;
}

/* BOARD PREVIEW */
#posted-boards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.board-one{
  margin: 10px;
  width: 20vw;
  height: 20vh;
  /* background-color: black; */
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  border: 2px solid rgba(0,0,0,0.7);
}

div.board-one:hover{
  border-color: lightsalmon;
  cursor: pointer;
}

p.board-one{
  padding-top:8vh;
}

.hidden-task{
  
  width: 1;
  height: 10px;
  
}

  /**********************/
 /***** Board Page *****/
/**********************/

#found-user{
  margin: 10px;
  color: black;
}

#found-user label{
  font-weight: 500;
  padding-right: 5px;
}